github "Alamofire/AlamofireImage" ~> 2.0
github "SwiftKitz/Appz" ~> 1.5.0
github "duemunk/Async"
github "BoltsFramework/Bolts-iOS" 
github "ankurp/Cent" ~> 5.0.0
github "ankurp/Dollar" ~> 5.0.0
github "jdg/MBProgressHUD" ~> 0.9.2
github "ParsePlatform/Parse-SDK-iOS-OSX"
github "jpotts18/SwiftValidator"
github "SwiftyJSON/SwiftyJSON"
