#Image Loading
github "Alamofire/AlamofireImage" ~> 3.1

#Arrays
github "ankurp/Cent" ~> 6.0.2

#Dictionaries
github "ankurp/Dollar" ~> 6.1.0

#Low-level libraries
github "BoltsFramework/Bolts-iOS" 

#Promises
github "duemunk/Async" "2.0.0"

#Deep Linking
github "SwiftKitz/Appz" 

#Progress Bar
github "jdg/MBProgressHUD" ~> 0.9.2

#Form Validation
github "jpotts18/SwiftValidator"

#JSON
github "SwiftyJSON/SwiftyJSON"
